[Unit]
Description=Local system resume actions
After=suspend.target

[Service]
Type=simple
ExecStart=/home/ankur/bin/wifi_connect

[Install]
WantedBy=suspend.target
