[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
    ignore = dirty
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
    ignore = dirty
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git@github.com:tpope/vim-fugitive.git
    ignore = dirty
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = git@github.com:sjl/gundo.vim.git
    ignore = dirty
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = git@github.com:Lokaltog/powerline.git
    ignore = dirty
[submodule "vim/bundle/python-mode"]
	path = vim/bundle/python-mode
	url = git@github.com:klen/python-mode.git
    ignore = dirty
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = git@github.com:tpope/vim-repeat.git
    ignore = dirty
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git@github.com:ervandew/supertab.git
    ignore = dirty
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
    ignore = dirty
[submodule "vim/bundle/multiple-cursors"]
	path = vim/bundle/multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
    ignore = dirty
[submodule "vim/bundle/conque-shell"]
	path = vim/bundle/conque-shell
	url = git@github.com:oplatek/Conque-Shell.git
    ignore = dirty
[submodule "vim/bundle/trailing-whitespace"]
	path = vim/bundle/trailing-whitespace
	url = git@github.com:bronson/vim-trailing-whitespace.git
    ignore = dirty
[submodule "vim/bundle/auto-pairs"]
	path = vim/bundle/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
    ignore = dirty
[submodule "vim/bundle/linediff"]
	path = vim/bundle/linediff
	url = git@github.com:AndrewRadev/linediff.vim.git
    ignore = dirty
[submodule "vim/bundle/wombat256mod"]
	path = vim/bundle/wombat256mod
	url = https://github.com/vim-scripts/wombat256.vim
    ignore = dirty
[submodule "vim/bundle/indexed-search"]
	path = vim/bundle/indexed-search
	url = https://github.com/vim-scripts/IndexedSearch.git
    ignore = dirty
[submodule "vim/bundle/insert-char"]
	path = vim/bundle/insert-char
	url = https://github.com/vim-scripts/InsertChar.git
    ignore = dirty
[submodule "vim/bundle/commentary"]
	path = vim/bundle/commentary
	url = git@github.com:tpope/vim-commentary.git
    ignore = dirty
[submodule "vim/bundle/dragvisuals.vim"]
	path = vim/bundle/dragvisuals.vim
	url = https://github.com/shinokada/dragvisuals.vim.git
    ignore = dirty
[submodule "vim/bundle/easymotion"]
	path = vim/bundle/easymotion
	url = git@github.com:Lokaltog/vim-easymotion.git
    ignore = dirty
[submodule "vim/bundle/targets.vim"]
	path = vim/bundle/targets.vim
	url = git@github.com:wellle/targets.vim.git
    ignore = dirty
[submodule "vim/bundle/vim-json"]
	path = vim/bundle/vim-json
	url = git@github.com:elzr/vim-json.git
    ignore = dirty
[submodule "vim/bundle/yankstack"]
	path = vim/bundle/yankstack
	url = git@github.com:maxbrunsfeld/vim-yankstack.git
    ignore = dirty
[submodule "vim/bundle/unite"]
	path = vim/bundle/unite
	url = git@github.com:Shougo/unite.vim.git
    ignore = dirty
[submodule "vim/bundle/jedi"]
	path = vim/bundle/jedi
	url = git@github.com:davidhalter/jedi-vim.git
    ignore = dirty
[submodule "vim/bundle/vimproc"]
	path = vim/bundle/vimproc
	url = git@github.com:Shougo/vimproc.vim.git
    ignore = dirty
[submodule "vim/bundle/unite-locate"]
	path = vim/bundle/unite-locate
	url = git@github.com:ujihisa/unite-locate.git
    ignore = dirty
[submodule "vim/bundle/nerdtree-git-plugin"]
	path = vim/bundle/nerdtree-git-plugin
	url = git@github.com:Xuyuanp/nerdtree-git-plugin.git
[submodule "vim/bundle/slimux"]
	path = vim/bundle/slimux
	url = git@github.com:epeli/slimux.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/bundle/virtualenv"]
	path = vim/bundle/virtualenv
	url = git@github.com:jmcantrell/vim-virtualenv.git
[submodule "vim/bundle/vim-tmux"]
	path = vim/bundle/vim-tmux
	url = git@github.com:tmux-plugins/vim-tmux.git
[submodule "vim/bundle/vim-tmux-navigator"]
	path = vim/bundle/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
