[Desktop Entry]
Encoding=UTF-8
Name=Vim (Console)
Comment=Edit text files in a console using Vim
Exec=xfce4-terminal -e 'nvim %u'
#Terminal=true
Type=Application
Icon=/home/ankur/.files/images/vim_icon.png
Categories=Application;Utility;TextEditor;
StartupNotify=true
MimeType=text/plain;
NoDisplay=true
