#!/usr/bin/env bash

# Panel properties
PANEL_HEIGHT=20
PANEL_WM_NAME="lemonpanel"

POWERLINE_MODE=true


# Colors

prep_color() {
    color=$1
    transparency=$2
    echo -n "#$transparency${color#?}"
}

BG=$(xrdb -query | grep -i background: | tail -c 8)
FG=$(xrdb -query | grep -i foreground: | tail -c 8)

BLACK=$(xrdb -query | grep -i color0: | tail -c 8)
BBLACK=$(xrdb -query | grep -i color8: | tail -c 8)

RED=$(xrdb -query | grep -i color1: | tail -c 8)
BRED=$(xrdb -query | grep -i color9: | tail -c 8)

GREEN=$(xrdb -query | grep -i color2: | tail -c 8)
BGREEN=$(xrdb -query | grep -i color10: | tail -c 8)

YELLOW=$(xrdb -query | grep -i color3: | tail -c 8)
BYELLOW=$(xrdb -query | grep -i color11: | tail -c 8)

BLUE=$(xrdb -query | grep -i color4: | tail -c 8)
BBLUE=$(xrdb -query | grep -i color12: | tail -c 8)

MAGENTA=$(xrdb -query | grep -i color5: | tail -c 8)
BMAGENTA=$(xrdb -query | grep -i color13: | tail -c 8)

CYAN=$(xrdb -query | grep -i color6: | tail -c 8)
BCYAN=$(xrdb -query | grep -i color14: | tail -c 8)

WHITE=$(xrdb -query | grep -i color7: | tail -c 8)
BWHITE=$(xrdb -query | grep -i color15: | tail -c 8)

TRNSPRNCY="ff"
TRNSPRNCY2="00"
BAR_BG=$(prep_color $BG $TRNSPRNCY2)
BAR_FG=${FG}
BAR_UL=$(prep_color $GREEN $TRNSPRNCY)

# Workspaces colors
WRKSPC_BG=$(prep_color $BLACK $TRNSPRNCY)
WRKSPC_FG=$(prep_color $WHITE $TRNSPRNCY)
FOCUSSD_BG=$(prep_color $BLUE $TRNSPRNCY)
FOCUSSD_FG=$(prep_color $GREEN $TRNSPRNCY)

# Icons

if [ "$POWERLINE_MODE" = true ]; then
    SEP_R=""
    SEP_L=""
    SEP_R_L=""
    SEP_L_L=""
else
    SEP_R=" "
    SEP_L=" "
    SEP_R_L=" "
    SEP_L_L=" "
fi

CALENDAR_ICON=""
TIME_ICON=""
VOL_UP_ICON=""
VOL_DOWN_ICON=""
VOL_OFF_ICON=""
WIFI_ICON=""
POWER_ICON=""


# Clock

clock_format='%H:%M'
date_format="%a %d %B"


# Fonts

PANEL_ICON_FONT="FontAwesome-12"
PANEL_FONT="MesloLGMDZ Nerd Font-10"
FONT1=${PANEL_ICON_FONT}
FONT2=${PANEL_FONT}
FONT1_OFFSET=-3
FONT2_OFFSET=0

WIFI_INTERFACE=$(iw dev | grep Interface | awk '{print $2}')

NUM_MON=$(xrandr | grep " connected" | wc -l)
MAX_RES=$(xrandr | grep "LVDS1" | awk -F'[ +]' '{print $3}')
IFS=x; read -a sizes <<<"$max_res"
TOP_PAD=$(bspc config window_gap)
SIDE_PAD=$(bspc config window_gap)
MONITOR_PAD=$(xrandr | grep "LVDS1" | awk -F'+' '{print $2}')
BAR_GEOMETRY="${sizes[0]}x${PANEL_HEIGHT}+$monitor_pad+0"
