beautifulsoup4
bokeh
dask[complete]
ipywidgets
joblib
jupyter
jupyterlab
logmatic-python
matplotlib
mord
networkx
nltk
pandas
pandarallel
pyarrow
pyzmq
requests
s3fs
scikit-learn
scikit-optimize
scipy
seaborn
statsmodels
swifter
sympy
tables
tqdm
xlrd
