beautifulsoup4
bokeh
dask[complete]
ipywidgets
jupyter
jupyter_spark
jupyterlab
matplotlib
mord
networkx
nltk
pandas
pyzmq
requests
s3fs
scikit-learn
scikit-optimize
scipy
seaborn
statsmodels
sympy
tqdm
xlrd
