beautifulsoup4
bokeh
dask[complete]
ipywidgets
joblib
jupyter
jupyterlab
matplotlib
mord
networkx
nltk
pandas
pyarrow
pyzmq
requests
s3fs
scikit-learn
scikit-optimize
scipy
seaborn
statsmodels
sympy
tqdm
xlrd
